---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$colour-purple: #623D60;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  background: $colour-purple url(../images/body-bk.gif);
}

#container {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

#columns {
  overflow: hidden;
  background: white;
}

#footer {
  clear: both;
  background: url(../images/corner-bottom.gif) bottom no-repeat;
  height: 12px;
}

img {
  display: block;
}

#header {
  background: white;
  padding: 15px;
}

#header .title {
  font-weight: 700;
  font-size: 4em;
}

#header .title b {
  color: $colour-purple;
}

#header .tagline {
  font-weight: bold;
  font-size: 11px;
  color: $colour-purple;
}

#subheader {
  background: url(../images/corner-top2.gif);
  height: 44px;
}

#subheader .title {
  line-height: 10px;
  padding-top: 17px;
  padding-left: 510px;
  color: $colour-purple;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

#nav {
  position: absolute;
  top: 73px;
  left: 215px;
  font-size: 0.8em;
}

#nav a {
  display: block;
  width: 100px;
  color: #666;
  text-decoration: none;
  padding: 8px 0;
  border: blue 0 solid;
}

#nav a:hover {
  width: 100px;
  color: white;
  background: #666;
  text-decoration: none;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  text-align: center;
  width: 100px;
  display: inline;
  padding: 0;
  border: red 0 solid;
}

#nav #link-about {
  position: absolute;
  top: 0;
  left: 0;
}

#nav #link-commission {
  position: absolute;
  top: 0;
  left: 100px;
}

#nav #link-watercolours {
  position: absolute;
  top: -50px;
  left: 290px;
  width: 75px;
  height: 150px;
  background: url(../images/watercolours.jpg) top no-repeat
}

#nav #link-watercolours a {
  margin-top: 50px;
  width: 75px;
}

#nav #link-oils {
  position: absolute;
  top: -50px;
  left: 390px;
  width: 75px;
  height: 150px;
  background: url(../images/oils.jpg) top no-repeat
}

#nav #link-oils a {
  margin-top: 50px;
  width: 75px;
}

#sidebar2 {
  width: 220px;
  float: right;
  padding-bottom: 3270px;
  margin-bottom: -3270px;
  padding-top: 10px;
  padding-right: 15px;
}

#sidebar2 .section {
  padding-bottom: 20px;
  line-height: 1.5em;
}

#sidebar2 .title {
  display: none;
  color: $colour-purple;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

#content {
  width: 500px;
  margin-right: 0;
  margin-left: 0;
}

#content .border {
  padding: 15px 15px 15px 25px;
}

#content .image-preview {
  float: left;
  height: 100px;
  width: 220px;
  font-size: 0.8em;
  padding: 12px 10px 8px 0;
}

#content .image-preview {
  border-bottom: 0 solid #666;
}

#content .image-preview .thumbnail {
  float: left;
  margin-right: 8px;
  height: 100px;
  width: 100px;
  padding: auto;
}

#content .image-preview .thumbnail img {
  border: 0;
}

#content .image-preview .title {
  font-weight: bold;
  font-size: 1.1em;
  color: $colour-purple;
}

#content .section {
  padding-top: 20px;
  line-height: 1.5em;
}

#subfooter {
  margin-top: 10px;
  background: url(../images/bridge-bk.gif) top right no-repeat;
  height: 44px;
}

#subfooter #bridge-text {
  color: $colour-purple;
  font-size: 11px;
  font-family: Arial, sans-serif;
  margin-left: 572px;
  padding-top: 6px;
}

#subfooter #bridge-text a {
  color: $colour-purple;
  display: inline;
  padding-top: 4px;
}